# Pandas can read:
1. CSV
2. Excel
3. HTML
and a lot more!

# Go to your Command & Install the following libraries

1. conda install sqlalchemy
2. conda install lxml
3. conda install html5lib
4. conda install BeautifulSoup4

### Also download the given files from the resources section

In [1]:
import pandas as pd

In [2]:
pwd

'/media/desmond/C0488D6D488D62D0/Data Science/MicroDegree Data Analysis/Notebook'

In [3]:
df = pd.read_csv("example")

FileNotFoundError: [Errno 2] No such file or directory: 'example'

In [15]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [19]:
df.to_csv("my_output", index=False)

In [20]:
pd.read_csv("my_output")

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [21]:
pd.read_excel("Excel_Sample.xlsx", sheet_name="Sheet1")

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [22]:
df.to_excel("Excel Sample2.xlsx", sheet_name="Sheet1")

In [27]:
data = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")

In [29]:
data[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020"
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020"
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"