# A Review of python basics

## Data Types
The data type of a value (or variable in some contexts) is an attribute that tells what kind of data that value can have. Data types define particular characteristics of data used in software programs and inform the compilers about predefined attributes required by specific variables or associated data objects.

## Arithmetic Operations

In [1]:
1+1

2

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
2/2

1.0

In [5]:
10%6

4

In [6]:
2//2

1

In [7]:
3**3

27

In [8]:
(3-2)*(3-2)

1

## Variable Declaration
A Python variable is a reserved memory location to store values.

In [9]:
a = 1
b = 2

In [10]:
c = a+b

In [11]:
c

3

In [12]:
abc = 1
ABC = 2
aBc = 3

In [13]:
abc

1

# Strings

In [14]:
'abc'

'abc'

In [15]:
"abc"

'abc'

In [16]:
"I'm okay!"

"I'm okay!"

## Printing

In [17]:
a = "Hello"

In [18]:
a

'Hello'

In [19]:
print(a)

Hello

In [21]:
name = "Desmond Onam"
age = 40

In [22]:
print("The name of {a} is {b}".format(a=name, b=age))

The name of Desmond Onam is 40

## String Splicing

In [23]:
a = "abcdefghijklmnop"

In [24]:
a[0]

'a'

In [25]:
a[3]

'd'

In [26]:
a[:]

'abcdefghijklmnop'

## Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [].

Lists are used to store multiple items in a single variable.

In [27]:
a=[1,2,3,4,5]

In [28]:
a

[1, 2, 3, 4, 5]

In [29]:
b = ['a','b','c','d','e','f']

In [30]:
b

['a', 'b', 'c', 'd', 'e', 'f']

In [31]:
c = ['a',1,'b',2]

In [32]:
c

['a', 1, 'b', 2]

In [33]:
a.append(6)

In [34]:
a

[1, 2, 3, 4, 5, 6]

In [35]:
b.append("g")

In [36]:
b

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [37]:
a[0]

1

In [38]:
a[1:4]

[2, 3, 4]

In [39]:
a[:4]

[1, 2, 3, 4]

In [40]:
a[2:]

[3, 4, 5, 6]

In [41]:
b

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [42]:
b[0]="NEW"

In [43]:
b

['NEW', 'b', 'c', 'd', 'e', 'f', 'g']

In [44]:
## NESTED LISTS

In [45]:
d

NameError: name 'd' is not defined

In [ ]:
d

## Dictionaries
Dictionaries are Pythonâ€™s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value

Dictionaries does not allow duplicates

In [46]:
a = [1,2,3,4,5]

In [49]:
b = {"student1":"Desmond Onam", "student2":"Tom", "student3":"Jack"}

In [50]:
b["student1"]

'Desmond Onam'

In [51]:
b["student2"]

'Tom'

In [52]:
c = {"student1":[1,2,3,4,5]}

In [53]:
c["student1"][2]

3

In [54]:
c = {"student1":{"age":20}}

In [55]:
c["student1"]["age"]

20

## Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable (IMMUTABLE)

Tuples are written with round brackets.

In [56]:
a = (1,2,3,4,5)

In [57]:
b = [1,2,3,4,5]

In [58]:
b.append(6)

In [59]:
b

[1, 2, 3, 4, 5, 6]

In [60]:
a.append(6)

AttributeError: 'tuple' object has no attribute 'append'

## Sets

In [61]:
a = {1,2,3,4,5}

In [62]:
a

{1, 2, 3, 4, 5}

In [63]:
a = {1,1,1,1,1,1,1,1,1}

In [64]:
a

{1}

In [65]:
b = {1,1,1,2,2,2,3,3,3}

In [66]:
b

{1, 2, 3}

## Operators

In [67]:
1 < 2

True

In [68]:
2 > 3

False

In [69]:
2 <= 3

True

In [70]:
3 >= 4

False

In [71]:
2==3

False

In [72]:
3!=3

False

In [73]:
## Logical Operators

In [74]:
(1>2) and (2>1)

False

In [75]:
(1>2) or (2>1)

True

## If Else Statements

In [76]:
if 1>2:
    print("Task Successful")
elif 3>4:
    print("Task 2 Successful")
else:
    print("Task failed")

Task failed

## For Loops

In [77]:
a = [1,2,3,4,5]

for temp in a:
    print("The element is : {}".format(temp))

The element is : 1
The element is : 2
The element is : 3
The element is : 4
The element is : 5

## While Loops

In [78]:
a = 1

while a<5:
    print("HELLO")
    a = a+1

HELLO
HELLO
HELLO
HELLO

## Functions

A function can be defined as the organized block of reusable code, which can be called whenever required.

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [79]:
"hello".upper()

'HELLO'

In [80]:
"HELLO".lower()

'hello'

In [81]:
a = [1,2,3,4,5]

In [82]:
len(a)

5

In [83]:
sum(a)

15

## Defining Your Own Function

In [84]:
def greet(name):
    print("Good Morning "+name)

In [85]:
greet("Jack")

Good Morning Jack

In [86]:
def square(a):
    print(a**2)

In [87]:
square(100)

10000

In [88]:
def square(a):
    return a**2

In [90]:
b = square(100)